---
type Props = {
  dynamic?: boolean;
  static?: boolean;
};

const { dynamic: DYNAMIC = true, static: STATIC = true } = Astro.props;

const getColor = (supported: boolean) => (supported ? "green" : "red");
---

<div class="not-prose flex items-center gap-1 lg:gap-2">
  <img alt="dynamic" src={`https://none.deno.dev/ui/badge?c=${getColor(DYNAMIC)}&t=dark&e=dynamic`} />
  <img alt="static" src={`https://none.deno.dev/ui/badge?c=${getColor(STATIC)}&t=dark&e=static`} />
</div>
